<div class="profil-companie">
  <div class="jumbotron d-flex align-items-end shadow-sm">
    <div class="container">
      <form class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <img class="logo" src="src/assets/daimler.png">

            <div class="company-name text-right">
              <h3>DAIMLER</h3>
              <p>Domeniu de interes</p>
              <p>
                <i class="fas fa-map-marker-alt mr-1"></i>Cugir,Str. Victoriei Nr. 10 A
              </p>
              <p>
                <i class="fas fa-map-marker-alt mr-1"></i>Sebeș,Str. Augustin Bena Nr. 106
              </p>
            </div>
          </div>
          <hr>
          <div class="row d-flex flex-row">
            <div class="company-links col-md-12 col-sm-12 text-left d-flex flex-wrap justify-content-between">
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="fas fa-phone"></i>Vezi
                numar de telefon</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-building"></i>Vezi
                site-ul companiei</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-map"></i>Locatie
                harta</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-comment"></i>Trimite
                un mesaj</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">

        <div class="section-headline services-head text-center">
          <h2 class="text-secondary mb-5">Despre noi</h2>
        </div>

        <div class="prezentare section">
          <h3 class="sub-title text-secondary text-center">Prezentare</h3>
          <p>
            Star Transmission şi Star Assembly aparţin grupului german Daimler, grup situat pe locul 16 la nivel
            mondial și cel mai mare investitor străin cu prezenţă locală. Compania Star Assembly din Sebeş (Alba),
            s-a aflat în 2017 în top zece cele mai mari companii din România după cifra de afaceri. Fabrica de
            cutii de viteze a Daimler din Sebeş este al doilea mare exportator din economia românească.
          </p>
        </div>
        
        <div class="informatii-generale section">
          <h3 class="sub-title text-center text-secondary">Informatii generale</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Anul infiintarii</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Nr. Registrului Comertului</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Forma Legala</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Capital Social</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>CUI</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Fax</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Website</td>
                <td class="text-center">1</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cifre-cheie section">
          <h3 class="sub-title text-center text-secondary">Cifre cheie</h3>
          <div class="accordion" id="cifreCheie">
            <div class="card">
              <div class="card-header" id="aheading">
                <h5 class="mb-0">
                  <button class="btn button-link" type="button" data-toggle="collapse" data-target="#angajati" aria-expanded="true">
                    Angajati
                  </button>
                </h5>
              </div>
              <div id="angajati" class="collapse show" aria-labelledby="aheading" data-parent="#cifreCheie">
                <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>Nume</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>b</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>e</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>f</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <button class="btn button-link" type="button" data-toggle="collapse" data-target="#cifraDeAfaceri"
                    aria-expanded="false" aria-controls="cifraDeAfaceri">
                    Cifra de afaceri
                  </button>
                </h5>
              </div>
              <div id="cifraDeAfaceri" class="collapse" aria-labelledby="cifraDeAfaceri" data-parent="#cifreCheie">
                <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>2010</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2011</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2012</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2013</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2014</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2015</td>
                        <td class="text-center">1</td>
                      </tr>
                      <tr>
                        <td>2016</td>
                        <td class="text-center">1</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="manageri">
          <p class="sub-title text-center text-secondary">Manageri</p>
          <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  Datele executivilor
                </h5>
              </div>
              <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>Nume</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>b</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>e</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>f</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center mt-5">
          <h2 class="text-secondary mb-5">Servicii Oferite</h2>
          <hr>
        </div>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush ">
          <li class="list-group-item">Debitare, strunjire:la moale și la tare</li>
          <li class="list-group-item">Găurire, frezare, broşare</li>
          <li class="list-group-item">Laminare la rece</li>
        </ul>
      </div>
      <div class="col mb-5">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Sablare de finisare şi de rezistenţă</li>
          <li class="list-group-item">Rectificare exterioară, interioară, plană</li>
          <li class="list-group-item">Deformare plastică interioară la presiuni înalte</li>
        </ul>
      </div>
    </div>

    <div class="row oportunitati text-center mb-5">
      <div class="col">
        <h2 class="text-secondary mb-2">Oportunitati</h2>
        <div class="card-deck shadow-sm pt-3 pb-3">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-companie.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-companie.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-companie.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>