<div class="profil-localitate">
  <div class="jumbotron d-flex align-items-end shadow-sm">
    <div class="container">
      <form class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <img class="logo" src="../../../assets/stema-mangalia.jpg">

            <div class="profile-name text-right">
              <h3>Mangalia</h3>
              <p>Domeniu de interes</p>
              <p>
                <i class="fas fa-map-marker-alt mr-1"></i>Mangalia
              </p>
            </div>
          </div>
          <hr>
          <div class="row d-flex flex-row">
            <div class="profil-links col-md-12 col-sm-12 text-left d-flex flex-wrap justify-content-between">
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="fas fa-phone"></i>Vezi
                numar de telefon</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-building"></i>Vezi
                site-ul companiei</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-map"></i>Locatie
                harta</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-comment"></i>Trimite
                un mesaj</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">

        <div class="section-headline services-head text-center">
          <h2 class="text-secondary mb-5">Despre noi</h2>
        </div>

        <div class="prezentare section">
          <h3 class="sub-title text-secondary text-center">Prezentare</h3>
          <p>
            Mangalia (in turca Mankalya) este un municipiu in judetul Constanta, Dobrogea, Romania, format din localitatile 
            componente Cap Aurora, Jupiter, Mangalia (resedinta), Neptun, Olimp, Saturn si Venus. 
            Pozitia orasului este marcata la sud de limita lacului Mangalia, de tarmul marii la est, 
            iar la vest si la nord, de calea ferata catre Constanta, Balta Mangalia si padurea Comorova.
            Mangalia are o populatie de 36.364 de locuitori.Orasul Mangalia a fost declarat municipiu in anul 1995. 
            Este al doilea municipiu al litoralului, fiind situat la 40 km sud de Constanta si la 14 km de granita cu Bulgaria.
          </p>
        </div>
        
        <div class="informatii-generale section">
        <h3 class="sub-title text-center text-secondary">Informatii generale</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Tip</td>
              <td class="text-center">1</td>
            </tr>
            <tr>
              <td>Fax</td>
              <td class="text-center">1</td>
            </tr>
            <tr>
              <td>Website</td>
              <td class="text-center">1</td>
            </tr>
            <tr>
              <td>Industrii</td>
              <td class="text-center">1</td>
            </tr>
            <tr>
              <td>Turism</td>
              <td class="text-center">1</td>
            </tr>
          </tbody>
        </table>
        </div>

        <div class="cifre-cheie section">
          <h3 class="sub-title text-center text-secondary">Cifre cheie</h3>
          <div class="accordion" id="cifreCheie">
            <div class="card">
              <div class="card-header" id="aheading">
                <h5 class="mb-0">
                  <button class="btn button-link" type="button" data-toggle="collapse" data-target="#angajati" aria-expanded="true">
                    Populatie
                  </button>
                </h5>
              </div>
              <div id="angajati" class="collapse show" aria-labelledby="aheading" data-parent="#cifreCheie">
                <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>An</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="administratie">
          <p class="sub-title text-center text-secondary">Administratie</p>
          <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  Datele executivilor
                </h5>
              </div>
              <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>Nume</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>b</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>e</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>f</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="row oportunitati text-center mb-5">
      <div class="col">
        <h2 class="text-secondary mb-2 mt-5">Oportunitati</h2>
        <div class="card-deck shadow-sm pt-3 pb-3">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitati.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitati.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitati.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>