<div class="home">  
  <div class="jumbotron d-flex align-items-end shadow">
    <div class="container">
      <a href="profil-regiune.html">
        <img class="map" src="../../../assets/harta.png">
      </a>
      <form class="card">
        <div class="card-body">
          <h3>Filtrare rapida:</h3>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="Cod CAEN">Cod CAEN</label>
              <select class="form-control">
                <option></option>
                <option>5224</option>
                <option>2442</option>
                <option>2444</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="Denumire companie">Denumire</label>
              <input type="Denumire companie" class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label for="Denumire companie">Tip entitate</label>
              <input type="Tip entitate" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label for="Regiune">
                <i class="fas fa-map"></i>Regiune</label>
              <select class="form-control">
                <option></option>
                <option>Muntenia</option>
                <option>Moldova</option>
                <option>Oltenia</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="Judet">
                <i class="fas fa-map-marked"></i>Judet</label>
              <select class="form-control">
                <option></option>
                <option>Gorj</option>
                <option>Dolj</option>
                <option>Ilfov</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container cards-container">
    <div class="row description">
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/daimler.png">
              <p class="activity-domain">Exportator</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">+40372491627/101</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.stcu.ro</a> 
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" href="#" [routerLink]="['/profil-companie']">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Alba/Str.Victoriei Nr. 10 A/Str.Augustin Bena Nr.106</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/logo-companie.png">
              <p class="activity-domain">Domeniu de activitate</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">0700000000</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.denumirefirma.ro</a>
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" href="profil-companie.html">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Bucuresti Sector 6, Splaiul Independentei</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/logo-companie.png">
              <p class="activity-domain">Domeniu de activitate</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">0700000000</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.denumirefirma.ro</a>
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" href="profil-companie.html">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Bucuresti Sector 6, Splaiul Independentei</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/logo-companie.png">
              <p class="activity-domain">Domeniu de activitate</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">0700000000</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.denumirefirma.ro</a>
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" src="../../../assets/profil-companie.jpg">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Bucuresti Sector 6, Splaiul Independentei</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/logo-companie.png">
              <p class="activity-domain">Domeniu de activitate</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">0700000000</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.denumirefirma.ro</a>
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" src="../../../assets/profil-companie.jpg">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Bucuresti Sector 6, Splaiul Independentei</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4">
        <div class="business-card shadow-sm">
          <div class="activity d-flex flex-row">
            <div class="col d-flex justify-content-center flex-column">
              <img class="logo" src="../../../assets/logo-companie.png">
              <p class="activity-domain">Domeniu de activitate</p>
            </div>
            <div class="col d-flex justify-content-center flex-column" style="border-left: 1px solid #ccc;">
              <p>
                <i class="fas fa-mobile-alt"></i>
                <a class="details" href="#">0700000000</a>
              </p>
              <p>
                <i class="far fa-envelope"></i>
                <a class="details" href="#">info@denumirefirma.ro</a>
              </p>
              <p>
                <i class="fas fa-globe"></i>
                <a class="details" href="#">www.denumirefirma.ro</a>
              </p>
              <p class="link">
                <i class="fas fa-external-link-alt"></i>
                <a class="details" href="profil-companie.html">Profilul companiei</a>
              </p>
            </div>
          </div>
          <div class="address">
            <p class="text-center">
              <i class="fas fa-map-marked-alt"></i>Bucuresti Sector 6, Splaiul Independentei</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
