<div class="profil-judet">
  <div class="jumbotron d-flex align-items-end shadow-sm">
    <div class="container">
      <form class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <img class="logo" src="../../../assets/constanta.png">

            <div class="profile-name text-right">
              <h3>Constanta</h3>
              <p>Domeniu de interes</p>
              <p>
                <i class="fas fa-map-marker-alt mr-1"></i>Constanta
              </p>
            </div>
          </div>
          <hr>
          <div class="row d-flex flex-row">
            <div class="profil-links col-md-12 col-sm-12 text-left d-flex flex-wrap justify-content-between">
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="fas fa-phone"></i>Vezi
                numar de telefon</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-building"></i>Vezi
                site-ul companiei</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-map"></i>Locatie
                harta</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-comment"></i>Trimite
                un mesaj</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">

        <div class="section-headline services-head text-center">
          <h2 class="text-secondary mb-5">Despre noi</h2>
        </div>

        <div class="prezentare section">
          <h3 class="sub-title text-secondary text-center">Prezentare</h3>
          <p>
            Constanta este unul dintre cele cele mai vechi orase atestate de pe teritoriul Romaniei. 
            Prima atestare documentara dateaza din 657 i.Hr. când pe locul actualei peninsule 
            (si chiar sub apele de azi, in dreptul Cazinoului) s-a format o colonie greacă numita Tomis.
            Localitatea a fost cucerita de romani in 71 i.Hr. si redenumită Constantiana dupa sora imparatului
            Constantin cel Mare. In cursul secolului XIII Marea cea mare (cum era denumita atunci Marea Neagra) 
            a fost dominata de negustorii italieni din Genova care au ajutat la dezvoltarea orasului. 
            Ulterior, Constanta a suferit un declin sub conducerea otomana, devenind un simplu sat locuit de pescari greci
            si de crescatori tatari de cai si oi. Localitatea a redevenit oras dupa construirea caii ferate Cernavoda-Constanta
            si a portului, in 1865, pentru exportul granelor romanesti. După Razboiul de Independenta (1877-1878), 
            cand Dobrogea a devenit parte a Regatului Romaniei, Constanta, principal port al statului, a crescut continuu, detinand acest rol pana astazi.
            Portul Constanta acoperă o suprafata de 39,26 km², are o lungime de aproape 30 km, este cel mai mare port din bazinul Marii Negre si se afla pe locul 4 in Europa.
          </p>
        </div>
        
        <div class="informatii-generale section">
          <h3 class="sub-title text-center text-secondary">Informatii generale</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Fax</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Website</td>
                <td class="text-center">1</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="cifre-cheie section">
          <h3 class="sub-title text-center text-secondary">Cifre cheie</h3>
          <div class="accordion" id="cifreCheie">
            <div class="card">
              <div class="card-header" id="aheading">
                <h5 class="mb-0">
                  <button class="btn button-link" type="button" data-toggle="collapse" data-target="#angajati" aria-expanded="true">
                    Populatie
                  </button>
                </h5>
              </div>
              <div id="angajati" class="collapse show" aria-labelledby="aheading" data-parent="#cifreCheie">
                <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>An</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>b</td>
                      </tr>
                    </table>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="administratie">
          <p class="sub-title text-center text-secondary">Administratie</p>
          <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  Datele executivilor
                </h5>
              </div>
              <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>Nume</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>b</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>e</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>f</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="row oportunitati text-center mb-5">
      <div class="col">
        <h2 class="text-secondary mb-2 mt-5">Oportunitati</h2>
        <div class="card-deck shadow-sm pt-3 pb-3">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-judet.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-judet.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/oportunitate-judet.jpeg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
