<div class="profil-atractie-turistica">
  <div class="jumbotron d-flex align-items-end shadow-sm">
    <div class="container">
      <form class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <img class="logo shadow-sm" src="../../../assets/ranca.jpg">
            <div class="company-name text-right">
              <h3>Ranca</h3>
              <p>Statiune turistica</p>
              <p>
                <i class="fas fa-map-marker-alt mr-1"></i>Muntii Parang, 18 km de orasul Novaci, situata la 1.600 m  altitudine
              </p>
            </div>
          </div>
          <hr>
          <div class="row d-flex flex-row">
            <div class="company-links col-md-12 col-sm-12 text-left d-flex flex-wrap justify-content-between">
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="fas fa-phone"></i>Vezi
                numar de telefon</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-building"></i>Vezi
                site-ul companiei</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-map"></i>Locatie
                harta</button>
              <button type="button" class="contact-links btn-outline-secondary col-sm-6 col-md-12 text-left"><i class="far fa-comment"></i>Trimite
                un mesaj</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-sm-12">

        <div class="section-headline services-head text-center">
          <h2 class="text-secondary mb-5">Despre noi</h2>
        </div>

        <div class="prezentare section">
          <h3 class="sub-title text-secondary text-center">Prezentare</h3>
          <p>
            Dispune de trei partii de ski toate dotate cu teleski; una pentru incepatori pozitionata pe Muntele Cornesul si dotata cu nocturna pozitionata in centrul statiunii si una pentru avansati care continua peste varf. 
            Cea de-a treia este un babyski pozitionat la intrarea in staţiune dotat cu nocturna. 
            In prezent se lucreaza si la cea de a 4a partie. Ranca mai dispune de un telescaun ce deserveste trei partii de ski care se afla la poalele Varfului Papusa. Sezonul schiabil incepe in luna noiembrie si se termina in luna mai. 
          </p>
        </div>
        
        <div class="informatii-generale section">
          <h3 class="sub-title text-center text-secondary">Informatii generale</h3>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Anul infiintarii</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Administrat de</td>
                <td class="text-center">1</td>
              </tr>
              <tr>
                <td>Website</td>
                <td class="text-center">1</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="manageri">
          <p class="sub-title text-center text-secondary">Manageri</p>
          <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  Datele executivilor
                </h5>
              </div>
              <div class="card-body">
                    <table class="table table-bordered">
                      <tr>
                        <td>Nume</td>
                        <td>Functia ocupata</td>
                      </tr>
                      <tr>
                        <td>a</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>b</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>c</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>d</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>e</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>f</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>g</td>
                        <td>1</td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>

      </div>
    </div>

    <div class="row oportunitati text-center mb-5 mt-5">
      <div class="col">
        <h2 class="text-secondary mb-2">Oportunitati</h2>
        <div class="card-deck shadow-sm pt-3 pb-3">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/ranca.jpg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/ranca.jpg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card d-flex align-items-center mb-md-4">
              <img class="avatar" src="../../../assets/ranca.jpg">
              <div class="card-body">
                <h5 class="card-title text-center">Titlu oportunitate</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. A eius eligendi corporis odio,
                  tenetur vero minima quisquam tempora minus debitis omnis commodi dolorem delectus dolorum. Sint officia
                  obcaecati dicta cum!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>