.profil-atractie-turistica {
    .sub-title{
        font-size: 1.3rem;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .jumbotron {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/atractii-turistice.jpg');
        background-size: cover;
        background-position: center;
        height: 500px;
        padding-bottom: 0px;
        border-radius: 0;

        .container {
            .card {
                border-radius: 0;
                background-color: rgba(255, 255, 255, 1);
                border: none;

                .card-body {
                    h3 {
                        color: gray;
                    }
                    .logo {
                        height: 170px;
                        border-radius: 5px;
                    }
                    .contact-links {
                        max-width: 210px;
                        margin-top: 15px;
                        border: 1px solid gray;
                        height: 40px !important;
                        margin-bottom: 20px;
                        .far,
                        .fas {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .container {
        .section {
            margin-bottom: 50px;
        }

        .accordion {
            .card {
                .card-header {
                    .button-link {
                        color: #0056b3;
                        background-color: transparent;
                        border-color: transparent;
                        text-decoration: none;
                    }
                }
                .opportunities {
                    .links {
                        margin-left: 8px;
                        margin-bottom: 10px;
                        border: 1px solid gray;
                        height: 40px !important;
                        .far {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .oportunitati {
            .card-deck {
                .card {
                    padding: 0;
                    padding-top: 20px;
                    margin-left: 0;
                    margin-right: 0;
                    .avatar {
                        width: 160px;
                    }
                    .card-body {
                        p {
                            font-size: 0.9rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .jumbotron {
            height: 720px !important;
        }
        .container {
            .oportunitati {
                .card-deck {
                    .card {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
    @media (max-width: 576px) {
        .jumbotron {
            height: 750px !important;
            .container {
                .card {
                    .card-body {
                        .company-links {
                            display: flex;
                            flex-direction: row !important;
                            flex-wrap: wrap;
                            justify-content: space-between !important;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}