<div class="container py-5">
  <div class="row">
    <div class="col-sm-12">
      <!-- form user info -->
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Oportunitati</h4>
        </div>
        <div class="card-body">
          <form class="form" role="form" autocomplete="off">
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Titlu</label>
              <div class="col-lg-9">
                <input class="form-control" type="text">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Detalii</label>
              <div class="col-lg-9">
                <div class="form-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Poza</label>
              <div class="col-lg-9">
                  <div class="upload-btn-wrapper">
                  <img src="../../../../../assets/avatar.png">
                  <button class="btn">Incarca poza de profil</button>
                  <input type="file" name="myfile" />
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-lg-3 col-form-label form-control-label">Atasamente</label>
              <div class="col-lg-9">
                  <div class="upload-btn-wrapper">
                  <button class="btn">Incarca atasament</button>
                  <input type="file" name="myfile" />
                  </div>
              </div>              
            </div>
          </form>
        </div>
      </div>
      <!-- /form user info -->
    </div>
  </div>
</div>
