.container {
  margin-top: 230px;
  margin-bottom: 230px;

    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        img {
            height: 65px;
            margin-right: 10px;
        }
        .btn {
            border: 1px solid gray;
            color: gray;
            background-color: white;
            padding: 8px 20px;
            font-size: 15px;
        }

        input[type=file] {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
        }
    }
}