<ng-template #content let-modal>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    <h1>Logare in cont</h1>
    <br>
    <form>
      <input type="text" name="user" placeholder="Utilizator">
      <input type="password" name="pass" placeholder="Parola">
      <input type="submit" name="login" class="login loginmodal-submit" value="Logare">
    </form>

    <div class="login-help">
      <a href="#">Inregistrare</a><br>
      <a href="#">Ai uitat parola?</a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>