/* You can add global styles to this file, and also import other style files */
@import "styles-variables";
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap';


html, body{
    height: 100%;
}
body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}


