$primary-color: #fca400 !default;
$yellow:        #ffc107 !default;
$gray:          #f0f0f0 !default;
$gray-dark:     #6b6b6b !default;

//Bootstrap
$colors: (
  orange: $primary-color,
  yellow: $yellow,
  gray: $gray,
  gray-dark: $gray-dark
) !default;

$theme-colors: (
  primary:   $primary-color,
  secondary: $gray-dark,
) !default;