<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href=".">
    <img src="../../../assets/logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['/profil-home']">Acasa<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/profil-companie']">Profil Companie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Finantare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Proiecte strategice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Legislatie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">RoTurismInvest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Finantare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" (click)="openLogin()">
          <i class="far fa-user mr-2"></i>Login
        </a>
      </li>
    </ul>
  </div>
</nav>