@import "../../../styles-variables.scss";

.navbar{
    .navbar-brand {
        img{
            height: 65px;
        }
    }
}
.navbar-nav .nav-link{
    color: grey;
    text-transform: uppercase;
    // border: 1px solid rgba(128,128,128, 0.1);
    margin-right: 10px;
    border-radius: 5px;
}

@media (max-width: 1310px) {
    .navbar {
        flex-direction: column !important;
    }
}
@media (max-width: 1200px) {
    .navbar {
        .nav-link{
            font-size: 0.9rem;
        }
    }
}
@media (max-width: 991px) {
    .navbar {
        flex-direction: row !important;
    }
}